.title-section {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background-image: url('./Assets/TitlePictures/OpenHousePicture.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Make the background fixed */
    color: white;
    text-align: center;
  }

  .what-section {
    display: flex; /* Use flexbox to position items side by side */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 50px;
    gap: 30px; /* Space between the image and text */
    flex-wrap: wrap; /* Allow wrapping to prevent shrinkage */
  }
  
  .title {
    font-family: "Tomorrow", sans-serif;
    font-size: 2.5rem; /* Adjust size as needed */
    color: #e3e3e3;
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 2rem; /* Spacing utility class */
  }
  .ohtitle {
    font-size: 18mm ;
  }
  .open {
    color: #ffff00;
  }
  
  .house {
    color: #666600;
  }

  
/* Hide images on screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .date-picture {
    display: none;
  }
}